@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

:root {
  --primary: #3932b5;
  --primary-rgb: 50, 50, 181;
  --grey: #f0efef;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  line-height: 1.25;
}

button {
  height: 48px;
  padding: 0.5rem 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all ease-in 0.2s;
}

button:hover {
  opacity: 0.8;
}

button:focus {
  outline: 3px solid rgba(var(--primary-rgb), 0.3);
  outline-offset: 2px;
}

button.white {
  background-color: white;
  color: black;
}

button.primary {
  background-color: var(--primary);
  color: white;
}

/* Header */
header {
  background-color: white;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
}

header nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  position: relative;
}

header img {
  max-width: 120px;
}

header .nav-links {
  display: flex;
  list-style-type: none;
}

header .nav-links li {
  margin: 0 0.5rem;
}

header .nav-links li a {
  text-decoration: none;
  font-weight: 500;
  color: black;
}

header .nav-links li a:hover {
  text-decoration: underline;
}

header .get-started-btn {
  display: inline-block;
}

header .hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.hamburger svg {
  height: 24px;
  width: 24px;
}

header .hamburger div {
  width: 24px;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease;
}

header .hamburger.active div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

header .hamburger.active div:nth-child(2) {
  opacity: 0;
}

header .hamburger.active div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Nav Drawer */
.nav-drawer {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background-color: white;
  padding: 1rem;
  display: none;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  transform: translateY(-100%);
}

.nav-drawer.active {
  display: flex;
  transform: translateY(0);
}

.nav-drawer ul {
  list-style-type: none;
  width: 100%;
  text-align: center;
}

.nav-drawer ul li {
  margin: 0.5rem 0;
}

.nav-drawer ul li a {
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.nav-drawer ul li a:hover {
  text-decoration: underline;
}

.nav-drawer button {
  margin-top: 1rem;
  width: 100%;
}

@media (max-width: 768px) {
  header .hamburger {
    display: flex;
  }

  /* Hide the original navigation list and Get Started button */
  header .nav-links {
    display: none;
  }

  header .get-started-btn {
    display: none;
  }

  .nav-drawer {
    width: 100%;
  }
}

/* Hero */
#hero {
  background-color: var(--grey);
  padding: 2.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero > div {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
}

#hero h3 {
  font-weight: 700;
  font-size: 3rem;
}

#hero h3 span {
  color: var(--primary);
}

#hero p {
  font-weight: 400;
  font-size: 1rem;
  margin: 1.5rem 0;
}

#hero > div > img {
  min-height: 480px;
  max-height: 600px;
}

#hero .hero-download-imgs {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.hero-download-imgs img {
  height: 48px;
  border-radius: 0.5rem;
  background-color: black;
  width: auto;
  min-width: 120px;
  cursor: pointer;
}

/* about */
#about {
  padding: 2.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about > div {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
}

#about h3 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}

#about h3 span {
  color: var(--primary);
}

#about p {
  font-weight: 400;
  font-size: 1rem;
}

#about > div > img {
  min-height: 480px;
  max-height: 600px;
}

#about ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

#about li {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
}

#about li .icon {
  height: 64px;
  width: 64px;
  background: white;
  border-left: 4px solid var(--primary);
  border-radius: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 12px;
}

#about .icon img {
  width: 40px;
  height: 40px;
}

#about li h4 {
  font-weight: 600;
  margin-bottom: 4px;
  font-size: 1rem;
}

#about li p {
  font-size: 14px;
}

/* FEATURES Section */
#features {
  padding: 2.5rem 1rem;
}

#features h3 {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

#features .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

#features .left-col,
#features .right-col {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

#features img {
  flex: 1;
  background-color: #3932b5;
  width: 100%;
  border-radius: 1.5rem;
}

#features .left-col img:nth-child(2) {
  flex: 2;
}

/* JOIN section  */
#join {
  padding: 2.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

#join > div {
  width: 100%;
  max-width: 1200px;
  background-image: url("images/businessman.png");
  padding: 2.5rem 2.5rem;
  border-radius: 1.5rem;
}

#join .content {
  max-width: 480px;
}

#join .content h3 {
  font-weight: 700;
  font-size: 2rem;
}

#join .content p {
  margin: 1.5rem 0;
}

/* Download section  */
#download {
  padding: 2.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

#download > div {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

#download h3 {
  font-weight: 700;
  font-size: 3rem;
}

#download p {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#download .download-buttons {
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 1rem;
}

#download > div > img {
  min-height: 400px;
  max-height: 600px;
}

/* closing CTA  */
#closing {
  background-color: var(--primary);
  padding: 2.5rem 1rem;
  color: white;
}

#closing > div {
  max-width: 768px;
  text-align: center;
  margin: 0 auto;
}

#closing h3 {
  font-weight: 700;
  font-size: 2rem;
}

#closing p {
  font-weight: 400;
  font-size: 1rem;
  margin: 1rem 0px;
}

/* Footer */
footer {
  background-color: black;
  color: white;
  padding: 2.5rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

footer > section {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 1rem;
  gap: 3rem;
}

footer img {
  margin-bottom: 0.5rem;
}

footer > section > div > h4 {
  margin: 1rem 0 0.5rem;
}

footer address {
  line-height: 1.5;
}

footer ul {
  list-style: none;
}

footer ul li {
  margin: 0.5rem 0 0.5rem;
}

footer .copyright {
  border-top: 0.5px solid var(--grey);
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Make dialog fullscreen with transparent background */
dialog::backdrop {
  background-color: rgba(220, 20, 20, 0.8); /* Overlay effect */
}

/* Dialog content styling */
#policy-dialog {
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  padding: 20px;
  background-color: #fff;
  overflow: hidden;
}

#dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

#dialog-header button {
  height: 40px;
  padding: 2px 8px;
  cursor: pointer;
}

#dialog-header button:focus {
  outline: none;
}

#dialog-header button svg {
  height: 24px;
  width: 24px;
}

#dialog-title {
  font-weight: 700;
  font-size: 1.5rem;
}

#dialog-content {
  margin: 1rem 0px;
  max-height: calc(100vh - 96px);
  overflow-y: auto;
}

ol li p {
  margin: 4px 0;
}
/* Styling for the first decimal-level list */
.decimal-list {
  list-style-type: decimal;
  counter-reset: section; /* Initialize the counter */
}

.decimal-list > li {
  margin-bottom: 24px;
  list-style-position: inside; /* Ensure numbers align well with content */
}

/* Styling for the alphabet-level nested list */
.alpha-list {
  list-style-type: lower-alpha;
  margin-left: 40px;
}

.alpha-list > li {
  margin-bottom: 12px;
}

/* Styling for the Roman numeral nested list */
.roman-list {
  list-style-type: lower-roman;
  margin-left: 60px;
}

.roman-list > li {
  margin-bottom: 8px;
}

/* Bold styling for list titles */
.decimal-list > li > strong,
.alpha-list > li > strong,
.roman-list > li > strong {
  font-weight: bold;
}

.decimal-list > li > strong,
.no-style > li > strong {
  font-size: 1.25rem;
  display: inline-block;
  margin-bottom: 4px;
}

.no-style {
  list-style-type: none;
}

.no-style > li {
  margin-bottom: 24px;
}

ul li p {
  margin: 4px 0;
}

/* Media Queries */
@media (max-width: 768px) {
  #hero > div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #hero h3 {
    font-size: 2rem;
  }

  #hero p {
    font-size: 1rem;
  }

  #hero .hero-download-imgs {
    justify-content: center;
  }

  #hero > div > img {
    min-height: 240px;
    max-height: 300px;
  }

  #about > div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #about h3 {
    font-size: 1.5rem;
  }

  #about p {
    font-size: 1rem;
  }

  #about > div > img {
    min-height: 240px;
    max-height: 300px;
  }

  #features .container {
    grid-template-columns: 1fr;
  }

  #join > div {
    background-size: cover;
    text-align: center;
  }

  #download > div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #download h3 {
    font-size: 2rem;
  }

  #download p {
    font-size: 1rem;
  }

  #download > div > img {
    min-height: 240px;
    max-height: 300px;
  }

  footer > section {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
    gap: 1.5rem;
  }

  footer > section > div > h4 {
    margin: 0rem 0 0.5rem;
  }

  footer > section div:first-child,
  footer > section div:last-child {
    grid-column: span 2 / span 2;
  }
}
